*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: url(back.jpg) ;
    background-image: linear-gradient(rgba(0,0,0,7)) ;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex:1 ;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: black;
    font-size: 50px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position:center ;
    background-size: cover;
    transition: transform 0.5s;
    background-color: white;
}
.card1{
background-image: url(https://thumbs.dreamstime.com/b/ajoutez-le-nouveau-vecteur-d-ic%C3%B4ne-utilisateur-cr%C3%A9ez-l-illustration-de-symboles-contact-symbole-207925522.jpg)
}
.card2{
    background-image: url(https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600037/58450990-user-icon-modifier-modifier-user-icon-glyphe-vector-illustration.jpg?ver=6);
}
.card3{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/380533-remover-icone-de-de-usuario-gratis-vetor.jpg)
}
.card4
{
    background-image: url(https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600035/58450987-user-icon-email-communication-contact-message-user-icon-in-glyphe-vector-illustration.jpg?ver=6);
}
.card:hover {
    transform: translateY(-10px)
}
h3{
    text-shadow: 0 0 15px #999;
}
h3 a {
    text-decoration: none;
    color: black;
    
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }